<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Project</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <!-- Header -->
  <header>
    <div class="container">
      <h1 class="logo" align="left">My Project</h1>
      <nav>
        <ul class="nav-links">
          <!-- {{request.path}} -->
          <li class="{% if request.path == '/'%}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
          <li class="{% if request.path == '/about-us/'%}active{% endif %}"><a href="{% url 'about' %}">About</a></li>
          {% url 'services' as sc %}
          <li class="{% if request.path == sc%}active{% endif %}"><a href="{{sc}}">Services</a></li>
          {% url 'contact' as ct %}
          <li class="{% if request.path == ct %}active{% endif %}"><a href="{{ct}}">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>